<div id="modal_search_contract">
  <div class="modal__background">
    <div class="modal_box_search_contract">
      <div>
        <div class="flex items-center justify-center">
          <p class="font-semibold mt-2">주문 상세 내역</p>
        </div>
        <div class="flex">
          <p class="px-2 py-2">주문번호</p>
          <p class="py-2">A22092831001</p>
        </div>
          <div id="modal_search_contract_list" class="overflow-auto w-full h-80 px-3">
            <div class="flex">
              <span class="w-32">주문일자</span>
              <span class="w-52">물품명</span>
              <span class="w-28">단가</span>
              <span class="w-20">수량</span>
              <span class="w-36">합계</span>
            </div>
            <div class="flex">
              <span class="w-32">2022-10-04</span>
              <span class="w-52">아라비카</span>
              <span class="w-28">12,500</span>
              <span class="w-20">2</span>
              <span class="w-36">25,000</span>
            </div>
            <div class="flex">
              <span class="w-32">2022-10-04</span>
              <span class="w-52">산토스</span>
              <span class="w-28">11,000</span>
              <span class="w-20">7</span>
              <span class="w-36">77,000</span>
            </div>
          </div>

        <div class="flex justify-center">
          <button id="search_contract_confirm" class="bg-green-500 w-16 h-8 rounded-md text-white">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>